@page
@model CustomerModel
@{
    ViewData["Title"] = "Documenti";
    ViewData["userid"] = @Model.userid;
    ViewData["username"] = @Model.username;
    ViewData["userrole"] = @Model.userrole;
}

<div id="ext-panel" class="text-center"></div>
<script src="~/js/forms.js" asp-append-version="true"></script>
<script src="~/js/grid.js" asp-append-version="true"></script>
<script src="~/js/documents.js" asp-append-version="true"></script>
